.navContainer {
  position: fixed;
  top: 0rem;
  right: 0rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 999;
  padding-right: 1rem;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    animation: fade-down .5s ease forwards;
}

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade-up {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.navbarClosed {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  animation: fade-up .5s ease forwards;
}

.buttonContainer {
  top: 0;
  height: 3rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 1rem;
}

.button {
  font-size: 1.5rem;
  color: #ffffff;
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
  height: 2rem;
  width: 2rem;
}

.opened span {
  font-size: 1.2rem;
  width: 1.2rem;
  height: 1.5rem;
}

.button span:hover {
  transform: scale(1.2);
  opacity: .75;
}

.opened {
  animation: open-animation .5s ease-in-out forwards;
}

.closed {
  animation: close-animation .5s ease-in-out forwards;
}

.openedBackground {
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(0, 0, 0, 0.07);
  animation: opened-background .5s ease;
}

@keyframes opened-background {
  from {
    opacity: 0;
  }
  to {
    opacity: 1.5;
  }
}

.closedBackground {
  animation: closed-background .5s ease forwards;
}

@keyframes closed-background {
  from {
    background: rgba(0, 0, 0, 0.55);
    border: 1px solid rgba(0, 0, 0, 0.07);
  }
  to {
  }
}

@keyframes open-animation {
  from {
    opacity: .5;
    transform: rotate(0deg);
  }
  to {
    opacity: 1;
    transform: rotate(360deg);
  }
}

@keyframes close-animation {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.links {
    color: #e0e0e0;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: 2px;
    text-shadow:
      0 0 4px rgba(255, 255, 255, 0.2),
      0 0 8px rgba(255, 255, 255, 0.15),
      0 1px 3px rgba(0, 0, 0, 0.5);
    animation: shimmer 3s infinite ease-in-out;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
    padding-bottom: 1rem;
  }
  
  .links:hover {
    transform: scale(1.05);
    opacity: .85;
  }