html {
  background: rgba(0, 0, 0, 0.55);
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    animation: fade-down 1.5s ease forwards;
  }

  @keyframes fade-down {
    0% {
        opacity: 0;
        transform: translateY(-6rem) scale(0.75);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}